<div class="container">
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Agregar
        </button><br>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">
          Imprimir
        </button><br>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Materia;</th>
            <th scope="col">Codigo</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Estatus</th>
            <th scope="col">Observaciones</th>
            <th scope="col">editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ltsalmacenes; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{item.Material}}</td>
            <td>{{item.coddigo}}</td>
            <td>{{item.Proveedor}}</td>
            <td>{{item.cantidad}}<td>
            <td>{{item.estatus}}</td>
            <td>{{item.observaciones}}</td>
            <td> <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="esEditar(item.id)">editar</button> &nbsp;&nbsp;
              <button class="btn btn-primary" (click)="Eliminaralmacen(item.id)">borrar</button>  </td>
          </tr>
          
        </tbody>
      </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
   <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Agregar Almacen</h1>
   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ltsalmacen" (ngSubmit)="agregaralmacen()">

      <div class="row">
          <div class="col-md-4">
              <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Material:</label>
                  <input type="text" formControlName="Material" [(ngModel)]="almacen.material" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  <div *ngIf="ltsalmacen.get('Material')?.touched && ltsalmacen.get('Material')?.errors?.['required']"
                  class="alert alert-danger">Campo requerido</div>
                  <div *ngIf="ltsalmacen.get('Material')?.touched && ltsalmacen.get('Material')?.errors?.['minlength']" 
                  class="alert alert-danger">El minimo de caracteres es de 3</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Codigo:</label>
                  <input type="text" formControlName="coddigo" [(ngModel)]="almacen.codigo" class="form-control" id="exampleInputtext1">
                  <div *ngIf="ltsalmacen.get('coddigo')?.touched && ltsalmacen.get('coddigo')?.errors?.['required']"
                  class="alert alert-danger">Campo requerido</div>
                  <div *ngIf="ltsalmacen.get('coddigo')?.touched && ltsalmacen.get('coddigo')?.errors?.['minlength']" 
                  class="alert alert-danger">El minimo de caracteres es de 4</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Proveedor:</label>
                  <!-- <input type="text" formControlName="Proveedor" [(ngModel)]="almacen.provedor"  class="form-control" id="exampleInputtext1" aria-describedby="textHelp"> -->
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" 
                  [(ngModel)]="almacen.provedor" formControlName="Proveedor">
         <option value="null" >selecciona una</option>
         <option [value]="item.Nombre" *ngFor="let item of ltsproveedores" >{{item.Nombre}}</option>
        
         
         </select>
                  <div *ngIf="ltsalmacen.get('Proveedor')?.touched && ltsalmacen.get('Proveedor')?.errors?.['required']"
                  class="alert alert-danger">Campo requerido</div>
                  </div>
          </div>
          <div class="col-md-4">
              <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Cantidad:</label>
                  <input type="text" formControlName="cantidad" [(ngModel)]="almacen.cantida" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  <div *ngIf="ltsalmacen.get('cantidad')?.touched && ltsalmacen.get('cantidad')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsalmacen.get('cantidad')?.touched && ltsalmacen.get('cantidad')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 1</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Estatus:</label>
                  <!-- <input type="text" formControlName="estatus" [(ngModel)]="almacen.estatus" class="form-control" id="exampleInputtext1"> -->
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" 
                  [(ngModel)]="almacen.estatus" formControlName="estatus">
         <option value="null" >selecciona una</option>
         <option value="Activo" >Activo</option>
         <option value="Desactivado" >Desactivado</option>
         
         </select>
         <div *ngIf="ltsalmacen.get('estatus')?.touched && ltsalmacen.get('estatus')?.errors?.['required']"
                 class="alert alert-danger">Campo requerido</div>
                </div>
                
          </div>
      </div>
      <div class="mb-3">
          <label for="exampleInputtext1" class="form-label">Observaciones</label>
          <input type="text-area" formControlName="observaciones" [(ngModel)]="almacen.observaciones" class="form-control" id="exampleInputtext1">
          <div *ngIf="ltsalmacen.get('observaciones')?.touched && ltsalmacen.get('observaciones')?.errors?.['required']"
          class="alert alert-danger">Campo requerido</div>
          <div *ngIf="ltsalmacen.get('observaciones')?.touched && ltsalmacen.get('observaciones')?.errors?.['minlength']" 
          class="alert alert-danger">El minimo de caracteres es de 10</div>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      
      
  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
     <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Agregar Almacen</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="ltsalmacen" (ngSubmit)="agregareditaralmacen()">
  
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Material:</label>
                    <input type="text" formControlName="Material" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                    <div *ngIf="ltsalmacen.get('Material')?.touched && ltsalmacen.get('Material')?.errors?.['required']"
                    class="alert alert-danger">Campo requerido</div>
                    <div *ngIf="ltsalmacen.get('Material')?.touched && ltsalmacen.get('Material')?.errors?.['minlength']" 
                    class="alert alert-danger">El minimo de caracteres es de 3</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Codigo:</label>
                    <input type="text" formControlName="coddigo" class="form-control" id="exampleInputtext1">
                    <div *ngIf="ltsalmacen.get('coddigo')?.touched && ltsalmacen.get('coddigo')?.errors?.['required']"
                    class="alert alert-danger">Campo requerido</div>
                    <div *ngIf="ltsalmacen.get('coddigo')?.touched && ltsalmacen.get('coddigo')?.errors?.['minlength']" 
                    class="alert alert-danger">El minimo de caracteres es de 4</div>
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Proveedor:</label>
                    <!-- <input type="text" formControlName="Proveedor"  class="form-control" id="exampleInputtext1" aria-describedby="textHelp"> -->
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" 
                    formControlName="Proveedor">
           <option value="null" >selecciona una</option>
         <option value="item.Nombre" *ngFor="let item of ltsproveedores" >{{item.Nombre}}</option>
        
         
         </select>
                    <div *ngIf="ltsalmacen.get('Proveedor')?.touched && ltsalmacen.get('Proveedor')?.errors?.['required']"
                    class="alert alert-danger">Campo requerido</div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Cantidad:</label>
                    <input type="text" formControlName="cantidad" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                    <div *ngIf="ltsalmacen.get('cantidad')?.touched && ltsalmacen.get('cantidad')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsalmacen.get('cantidad')?.touched && ltsalmacen.get('cantidad')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 1</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Estatus:</label>
                    <!-- <input type="text" formControlName="estatus" class="form-control" id="exampleInputtext1"> -->
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" 
                    formControlName="estatus">
           <option value="null" >selecciona una</option>
           <option value="Activo" >Activo</option>
           <option value="Desactivado" >Desactivado</option>
           
           </select>
           <div *ngIf="ltsalmacen.get('estatus')?.touched && ltsalmacen.get('estatus')?.errors?.['required']"
                   class="alert alert-danger">Campo requerido</div>
                  </div>
                  
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputtext1" class="form-label">Observaciones</label>
            <input type="text-area" formControlName="observaciones" class="form-control" id="exampleInputtext1">
            <div *ngIf="ltsalmacen.get('observaciones')?.touched && ltsalmacen.get('observaciones')?.errors?.['required']"
                    class="alert alert-danger">Campo requerido</div>
                    <div *ngIf="ltsalmacen.get('observaciones')?.touched && ltsalmacen.get('observaciones')?.errors?.['minlength']" 
                    class="alert alert-danger">El minimo de caracteres es de 10</div>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        
        
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div>