<div class="container">
    
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar
      </button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">
        Imprimir
      </button><br>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
    
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Inidce</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Télefono</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ltsproveedores">
            <th scope="row">1</th>
            <td>{{item.Codigo}}</td>
            <td>{{item.Nombre}}</td>
            <td>{{item.Direccion}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.status}}</td>
            
            <td>
                <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="esEditar(item.id)">editar</button> &nbsp;&nbsp;
                <button class="btn btn-primary" (click)="EliminarProveedor(item.id)">borrar</button> 
            </td>
          </tr>
         
        </tbody>
      </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Agregar Proveedores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ltsproveedor" (ngSubmit)="agregarProveedor()">

          <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Codigo:</label>
                  <input type="text" formControlName="Codigo" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  
                </div>
                <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Nombre:</label>
                      <input type="text" class="form-control" formControlName="Nombre" id="exampleInputtext1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Direccion:</label>
                        <input type="text" class="form-control" formControlName="Direccion" id="exampleInputtext1">
                      </div>
              </div>
              <div class="col-md-4">
                  <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="Email" id="exampleInputtext1" aria-describedby="textHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Telefono:</label>
                      <input type="text" class="form-control" formControlName="telefono" id="exampleInputtext1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Estatus:</label>
                      <input type="text" class="form-control" formControlName="status" id="exampleInputtext1">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Agregar Proveedores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ltsproveedor" (ngSubmit)="agregarProveedor()">

          <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="exampleInputtext1" class="form-label">Codigo:</label>
                  <input type="text" formControlName="Codigo" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  
                </div>
                <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Nombre:</label>
                      <input type="text" class="form-control" formControlName="Nombre" id="exampleInputtext1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Direccion:</label>
                        <input type="text" class="form-control" formControlName="Direccion" id="exampleInputtext1">
                      </div>
              </div>
              <div class="col-md-4">
                  <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="Email" id="exampleInputtext1" aria-describedby="textHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Telefono:</label>
                      <input type="text" class="form-control" formControlName="telefono" id="exampleInputtext1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Estatus:</label>
                      <input type="text" class="form-control" formControlName="status" id="exampleInputtext1">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


