<app-navbar></app-navbar>
<div class="container content" role="main">
    <h1>Cotizaciones</h1>
    <form [formGroup]="ltsCotizacion" (ngSubmit)="agregarCotiza()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nombres</label>
          <input type="text" formControlName="Nombres" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellidos</label>
          <input type="text" formControlName="Apellidos" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Direcccion</label>
          <input type="text" formControlName="Direccion" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Telefono</label>
          <input type="text" formControlName="Telefono" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Monto Minimo</label>
              <input type="text" formControlName="MontoMin" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="col-md-2">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Monto Maximo</label>
              <input type="text"  formControlName="MontoMax" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <div class="form-floating">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="Material">
                    <option [value]="item.material" *ngFor="let item of ltsalmacen">{{item.Material}}</option>
                  </select>
                  <label for="floatingSelect">Works with selects</label>
                </div>
          </div>
          
          
          </div>
          
        </div>
        
        <button type="submit" class="btn btn-primary">Cotizar</button>
      </form>
      <br>
      <table class="table" >
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">email</th>
            <th scope="col">nombre</th>
            <th scope="col">direccion</th>
            <th scope="col">materiales</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ltsCotizaciones; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{item.email}}</td>
            <td>{{item.Nombres}}</td>
            <td>{{item.Direccion}}</td>
            <td>{{item.Material}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="EliminarCotiza(item.id)">Eliminar</button>

            </td>
          </tr>
          
        </tbody>
      </table>
</div>