<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Inicio Sección</h3>
				<div class="d-flex justify-content-end social_icon">

				</div>
			</div>
			<div class="card-body">
				<form (ngSubmit)="onSumit()" [formGroup]="ltslogin">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" class="form-control" formControlName="Email" placeholder="Email"><br>
						
					</div>
					<div *ngIf="ltslogin.get('Email')?.touched && ltslogin.get('Email')?.errors?.['required']"
						 class="alert alert-danger">Campo requerido</div>
						 <div *ngIf="ltslogin.get('Email')?.touched && ltslogin.get('Email')?.errors?.['minlength']" 
						 class="alert alert-danger">El minimo de caracteres es de 8</div>
						 <div *ngIf="ltslogin.get('Email')?.touched && ltslogin.get('Email')?.errors?.['email']" 
						class="alert alert-danger">Tine que ser un Enail Valido</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" formControlName="Pass" placeholder="Contraseña">
						
					</div>
					<div *ngIf="ltslogin.get('Pass')?.touched && ltslogin.get('Pass')?.errors?.['required']"
						 class="alert alert-danger">Campo requerido</div>
						<div *ngIf="ltslogin.get('Pass')?.touched && ltslogin.get('Pass')?.errors?.['minlength']" 
						class="alert alert-danger">El minimo de caracteres es de 8</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Recuerdame
					</div>
					<div class="form-group">
						<input type="submit" value="Inicio Sección" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>
</div>