<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar
      </button><br>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="generatePDF()">
        Imprimir
      </button><br>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estatus</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ltsClientes; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{item.Nombre}}</td>
            <td>{{item.Apellido}}</td>
            <td>{{item.Direccion}}</td>
            <td>{{item.Email}}</td>
            <td>Activo</td>
            <td>
                <button type="button" class="btn btn-primary"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"  (click)="esEditar(item.id)">Editar</button>&nbsp;

                <button type="button" class="btn btn-primary" (click)="EliminarCliente(item.id)">Eliminar</button>
              
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal agregar a clientes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="ltsCliente" (ngSubmit)="agregarCliente()">

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Nombre" id="exampleInputEmail1" formControlName="Nombre" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Nombre')?.touched && ltsCliente.get('Nombre')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Nombre')?.touched && ltsCliente.get('Nombre')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 3</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Apellido</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Apellido" id="exampleInputEmail1" formControlName="Apellido" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Apellido')?.touched && ltsCliente.get('Apellido')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Apellido')?.touched && ltsCliente.get('Apellido')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 3</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Direccion</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Direccion" id="exampleInputEmail1" formControlName="Direccion" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Direccion')?.touched && ltsCliente.get('Direccion')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Direccion')?.touched && ltsCliente.get('Direccion')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 20</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" [(ngModel)]="cliente.Email" id="exampleInputEmail1" formControlName="Email" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 5</div>
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['email']" 
                class="alert alert-danger">Tine que ser un Email valido</div>
              </div>
              
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal agregar a clientes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="ltsCliente" (ngSubmit)="agregareditarCliente()">

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Nombre" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Nombre')?.touched && ltsCliente.get('Nombre')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Nombre')?.touched && ltsCliente.get('Nombre')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 3</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Apellido" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Apellido')?.touched && ltsCliente.get('Apellido')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Apellido')?.touched && ltsCliente.get('Apellido')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 3</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Direccion" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Direccion')?.touched && ltsCliente.get('Direccion')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Direccion')?.touched && ltsCliente.get('Direccion')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 20</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="Email" aria-describedby="emailHelp">
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['required']"
                class="alert alert-danger">Campo requerido</div>
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['minlength']" 
                class="alert alert-danger">El minimo de caracteres es de 5</div>
                <div *ngIf="ltsCliente.get('Email')?.touched && ltsCliente.get('Email')?.errors?.['email']" 
                class="alert alert-danger">Tine que ser un Email valido</div>
              </div>
              
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>